@import 'modules/_nav';
@import 'modules/_splash';
@import 'modules/_section2';
@import 'modules/_mediaqueries';


html {
    scroll-behavior: smooth;
  }

body {
    margin: auto;
    position: relative;
}

a {
  color: white !important;
}