#aboutUs {
    background-color: #955e99; //try
    padding-top: 5%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


#aboutUs .eggp {
    width: 100%;
    margin-right: -10%;
    margin-top: -50%;
}

#aboutUs h1 {
    color: white;
    font-size: 30px;
}

#aboutUs h6 {
    color: white;
}

#aboutUs p {
    color: white;
    font-size: 16px;
}

#aboutUs span {
    color: white;
    font-weight: bolder;

}



#aboutUs .citrusg {
    width: 100%;
    margin-right: -10%;

}