#endstigma {
    background-color: #d80000;
    position: relative;
    min-height: 100vh;
    padding-top: 5%;
}

video {
    width: 100%;
}

#endstigma h1 {
    margin-top: 10%;
    color: white;
}

#endstigma img {
  width: 100%;
  margin: 0 auto;
  left: 0px;
    // bottom: 0px !important;
}

