#hows {
    background-color: #4BC9F5;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    overflow: hidden;
}

#hows h3 p{
    text-align: left;
}

#transmission {
    text-align: left;
    background-color: #EAA4C8;
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
}

.trans-header {
    background-color: #68C1E7;
    color: white;
    padding: 5%;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: medium solid black;
}

#safe {
    height: 100%;
    text-align: left;
    background-color: #EAA4C8;
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
}

#transmission button {
    margin: 0 auto !important;
}

#transmission .emoji-head {
    width: 10%;
}

#safe .emoji-head {
    width: 10%;
}