@media (min-width: 375px) {

      #splash-bg {
        margin-top: 110% !important;
      
      }
    .navbar {
        background-color: none !important;
    }
    .navbar {
        text-align: center;
    }
    .nav.navbar {
        background-color: #2a2a2a;
    }
    .nav-link i {
        margin-top: 5% !important;
    }
    #splash h1 {
        font-size: 50px;
    }
    #splash img {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
    }
    .splash-txt span{
        font-size: 35px;
    }
    #section2 {
        height: 100vh;
    }
    #section2 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section3 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section3 p {
        font-size: 20px;
    }
    #section3 span {
        font-size: 20px;
    }
    #section3 button {
        margin-bottom: 20px;
    }
    #section4 h1 {
        font-size: 30px;
    }
    #section4 h4 {
        font-size: 20px;

    }
    #section4 p {
        font-size: 16px;
    }
    #aboutUs h1{
        font-size: 50px;
        margin-top: 5%;
        margin-bottom: 0%;

    }
    form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 50%;
    }
    .form img {
        margin-top: -80%;
        width: 20%;
    }
    .login-title {
        margin-top: -30%;

    }
    .cred {
        margin-top: 20%;
    }
    
}



@media (min-width: 768px) {
    #splash-bg{
        margin-top: 60% !important;
        bottom: 0;
    }
    .nav-link i {
        margin-top: 5% !important;
    }
    #splash img {
        width: 35% !important;
        margin-bottom: 20px;
        background-size: 100% !important;
        display: block;
        right: 0px;
        left: 0px;
        top: 2%;
      }
    #openup img {
        width: 70%;
    }
    
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .slide-1 img {
        width: 60%;
    }
    .slide-img {
        background-color: white;
        padding: 5% 5% 0% 5%;
        border-radius: 15px;
        width: 70%;
    }
    .slide-1 p {
        margin-top: 30px;
    }
    .slide-2 p {
        margin-top: 30px;
    }
    .slide-3 p {
        margin-top: 30px;
    }
    #section2 img {
        margin-top: -20% !important;
       width: 60% !important;
       margin: 0 auto;
    }
    #section2 h1 {
        font-size: 2.5rem;
        margin-top:5%;
    }
    .arrow2 i {
        margin-top: 2%;
    }

    
  }




@media (min-width: 992px) { 
    .navbar {
        background-color: transparent !important;
    }
    .navbar-nav {
        text-align: center;
        background-color: transparent;
    }
    .dropdown-menu {
        background-color: #2a2a2a !important;
        border-radius: 10px !important;
        padding: 5%;
      }
    .dropdown-menu a {
        color: white !important;
    }

    .nav-link i {
        margin-top: 50% !important;
    }
    #splash {
        height: 100vh;
        width: 100vw;
        background-color: #eaa4c8;
        min-height: 100vh;
        background-size: cover;
        overflow: inherit !important;
        text-align: center !important;
    }

    #splash img {
        width: 50% !important;
        margin-right: 0% !important;
        margin-top: 0px !important;
        top: -1%;

    }
    #splash-bg {
        margin-top: 20% !important;
       margin-left: 10% !important;
    }
    #openup img {
        width: 100%;
        float: right;
        margin-right: 0px;
    }

    .arrow-1 i {

        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        position : absolute;
        margin-top: 40% !important;
        margin-left: 40%;
        z-index: 100 !important;
    }
    .carousel-inner {
        margin: 0 auto;
        width: 60% !important;
    }

    #section2 {
        height: 100vh;
    }
    #section2 img {
        width: 120% !important;
        margin-top: -2% !important;
        margin-left: -5% !important;
}
    #section2 h1 {
        margin-top: 5%;
    }
    .arrow2 i {
        margin-top: 40%;
    }
    #section3 img {
        height: 120%;
        margin-right: -10% !important;
    }
    #section3 h1 {
        font-size: 60px;
        margin-top: 5%;
    }
    #section3 p {
        font-size: 32px;

    }
    #section3 span {
        font-size: 32px;

    }

    #section3 img {
        height: 100%;
        margin: auto;
        position: relative;
    }
    
    #section4 h1 {
        margin-top: 0%;
        font-size: 60px;
    }
    
    #section4 h4 {
        font-size: 32px;

    }
    #aboutUs h1{
        font-size: 60px;
        margin-top: 0%;
        margin-bottom: 0%;

    }
    #aboutUs h6 {
        font-size: 20px;
    }
    footer img {
        width: 5%;
    }
    html {
        background-color: #2a2a2a ;
    
    }
    .nav-back i {
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        margin-top: 5px;
    
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    
    .nav-back {
        background-color: #2a2a2a;
    }
    
    .nav-back span {
        color: white;
    }
    
    .form-bg {
        background-color: #2a2a2a;
        
    }
    
    form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 70%;
    }
    
    form h6 {
        color: #2a2a2a;
    }
    
    .form img {
        margin-top: -90%;
        width: 30%;
    }
    
    .login-title {
        margin-top: -30%;
        color: white;
    }
    
    .cred {
        margin-top: 40px;
    }
    
    #username {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/user.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    #password {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/lock.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    .form button {
        text-align: center;
        background-color: #2a2a2a !important;
        width: 50%;
    
    }
    
    .form button {
        color: white;
    }
    
    .form button:hover {
        color: #d80000;
    
    }
    
    .form a {
        color: #1F86D0 !important;
        font-size: 12px;
        cursor: pointer;
    }
    
    .nav-back a {
        cursor: pointer;
    }
}