@media (max-width: 320px) {
    #splash img {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        margin-top: -100%;
    }
    #splash h1 {
        font-size: 30px;
    }
    .splash-txt span{
        font-size: 25px;
    }
    #splash-bg .ipad {
        height: 50vh;
        margin-bottom: 0%;
        margin-top: 250%;

    }
    #section3 img {
        height: 6%;
        position: relative;
        margin-top: 35%;
    }

    #section3 h1 {
        font-size: 40px;

    }
}

@media (min-width: 375px) {

      #splash-bg {
        margin-top: 100% !important;
      
      }
    .navbar {
        background-color: none !important;
    }
    .navbar {
        text-align: center;
    }
    .nav.navbar {
        background-color: #2a2a2a;
    }


    #splash img {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        margin-top: -80%;
    }
    .splash-txt span{
        font-size: 35px;
    }
    #section2 {
        height: 100vh;
    }
    #section2 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section2 img {
        margin-top: -45%;
        width: 90%;
}
    #section3 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section3 p {
        font-size: 20px;
    }
    #section3 span {
        font-size: 20px;
    }
    #section3 button {
        margin-bottom: 20px;
    }
    #section4 h1 {
        font-size: 30px;
    }
    #section4 h4 {
        font-size: 20px;

    }
    #section4 p {
        font-size: 16px;
    }
    #aboutUs h1{
        margin-top: 2%;
        margin-bottom: 0%;

    }
    .form-bg form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 50%;
    }
    .form img {
        margin-top: -80%;
        width: 20%;
    }
    .login-title {
        margin-top: -30%;

    }
    .cred {
        margin-top: 20%;
    }
    
}

// @media (min-width: 375px) {

// }



@media (min-width: 768px) {
    #splash-bg{
        margin-top: 55% !important;
        bottom: 0;
    }
    .navbar-brand img {
        width: 50%;
    }
    #splash img {
        width: 35% !important;
        display: block;
        margin-top: -20%;
        right: 0px;
        left: 0px;
        margin-top: -30%;
      }
    #splash h1 {
        font-size: 40px;
    }
    #splash .ipad {
        margin-top: 60%;
    }
    #openup img {
        width: 70%;
    }
    
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .slide-1, .slide-2, .slide-3 {
        height: 70vh;
        margin-top: 5%;
    }
    .slide-1 img {
        width: 60%;
    }
    .slide-img {
        background-color: white;
        padding: 5% 5% 0% 5%;
        border-radius: 15px;
        width: 70%;
    }
    .slide-1 p {
        margin-top: 30px;
    }
    .slide-2 p {
        margin-top: 30px;
    }
    .slide-3 p {
        margin-top: 30px;
    }
    #section2 img {
        margin-top: -20% !important;
       width: 80%;
       margin: 0 auto;
    }
    #section2 h1 {
        font-size: 2.5rem;
        margin-top:5%;
    }
    .arrow2 i {
        margin-top: 2%;
    }
    #section3 h1 {
        font-size: 2.5rem;
    }
    #section3 img {
        height: 10%;
        position: relative;
        margin-top: 60%;
    }
    .arrow3 i {
        color: black !important;
        border-width: 0 3px 3px 0;
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        z-index: 500;
        margin-top: 10%;
    }
    #faq h1 {
        font-size: 30px;
        color: white;
        text-align: center;
        margin: 0 auto;
    }
    #faq img {
        width: 30%;
        margin-top: 0%;

    }
    .sec4-img {
        width: 30%;
    }
    .sec4-svg {
        width: 70% !important;
        margin: 0 auto;
    }
    .arrow4 i {
        margin-top: 20% !important;
    }
    #hows {
        text-align: center;
    }
    #transmission {
        text-align: left;
    }
    #transmission button {
        margin: 0 auto !important;
    }
    #transmission .emoji-head {
        width: 5%;
    }
    
    #safe .emoji-head {
        width: 5%;
    }
    #endstigma img {
        width: 60%;
        margin: 0 auto;
        left: 0px;
          // bottom: 0px !important;
      }
      #testimonials {
          padding-bottom: -10%;
      }
      #testimonials p {

        max-width: 400px;
        word-wrap: break-word;
        margin-bottom: 12px;
        line-height: 24px;
        position:relative;
          padding:10px 20px;
        border-radius:25px;
        
        &:before, &:after {
          content:"";
              position:absolute;
          bottom:-2px;
          height:20px;
        }
    }
    .bubble-1 {
        clear: both !important;

    }
    .bubble-2 {
        clear: both !important;
        float: left;
    }
    .testimonials-svg img{
        // width: 70%;
        margin: 0 auto;
    }
    .testimonials2-svg img{
        // width: 70%;
        margin: 0 auto;
    }
    .bubble-1 {
        width: 60%;
    }
    
    
    #aboutUs .eggp {
        width: 60%;
        margin-right: -10%;
        margin-top: -30%;
    }

    #aboutUs .citrusg {
        width: 70%;
       text-align: center;
       margin: 0 auto;
       margin-top: 5%;

    }
    #aboutUs .openup-h1 {
        margin-bottom: 0px;
        margin-top: 10%;
    }

    #aboutUs h1 {
        margin-top: -5%;
    }
    #merch .banana img {
        width: 90%;
        margin-bottom: 10%;
    }
    .faq-bubble-1 {
        clear: both !important;
        float: right;
    }
    .faq-bubble-2 {
        clear: both !important;
        float: left;
    }
    #faq p {
        max-width: 400px;
    }
    .faq-header {
        background-color: #e6e6e6;
        width: 100vw;
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    #submit_form h1 {
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
    }
    #submit_form img {
        width: 60% !important;
        text-align: center;
        margin: 0 auto;
    }
    #submit_form form{
        margin-top: 5% !important;
    }
    .merch {
        width: 40% !important;
        margin: 0 auto;
    }

    .footer-form {
        margin-top: 20%;
    }
    .footer-nav {
        margin-top: 10%;
    }
    .kiss-img img {
        margin-top: 40% !important;

        width: 150% !important;
        text-align: center;
        margin: 0 auto;
    }

    

  }




@media (min-width: 992px) { 
    .navbar {
        background-color: transparent !important;
    }
    .navbar-nav {
        text-align: center;
        background-color: transparent !important;
    }
    .navbar-brand img {
        width: 40% !important;
    }
    .navbar-brand {
        width: 40%;
    }
    .dropdown-menu {
        background-color: #2a2a2a !important;
        border-radius: 10px !important;
        padding: 5%;
      }
    .dropdown-menu a {
        color: white !important;
    }

    #splash {
        height: 100vh;
        width: 100vw;
        background-color: #eaa4c8;
        min-height: 100vh;
        background-size: cover;
        overflow: inherit !important;
        text-align: center !important;
    }

    #splash img {
        width: 50% !important;
        margin-right: 0% !important;
        margin-top: 10% !important;
        top: -1%;
    }
    #splash h1 {
        font-size: 80px;
    }
    .splash-txt span {
        font-size: 55px;
    }
    .nav-link i {
        margin-top: 25% !important;
    }
    #splash-bg {
        margin-top: 20% !important;
       margin-left: 10% !important;
    }
    #splash-bg .ipad {
        margin-top: 0%;
    }
    #openup img {
        width: 100%;
        float: right;
        margin-right: 0px;
    }
    #openup h1 {
        color: black;
        margin-top: 10%;
        font-size: 80px;

    }
    #openup h4 {
        font-size: 45px;
        
    }
    #openup p {
        font-size: 20px;
        line-height: 40px;

    }
    .arrow-1 i {

        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        position : absolute;
        margin-top: 10% !important;
        margin-left: 40%;
        z-index: 100 !important;
    }

    #openup_slideshow {
        min-height: 100%;

    }

    .slide-1, .slide-2, .slide-3 {
        border-radius: 15px;
        min-height: 100%;
        padding: 5%;
        text-align: center;
        border: 5px solid black;
    }
  
    .carousel-inner {
        width: 80% !important;
        min-height: 120% !important;
        margin: 0 auto;
        
    }

    .slide-1 img {
        width: 30%;
        text-align: center !important;
        display: block;
        margin: 0 auto;
    }
    .slide-2 img {
        width: 30%;

    }
    .slide-3 img {
        width: 30%;

    }
    .slide-img {
        width: 40%;
        height: 40%;
    }

    #section2 {
        height: 100vh;
    }
    #section2 img {
        width: 120% !important;
        margin-top: -2% !important;
        margin-left: -5% !important;
}
    #section2 h1 {
        margin-top: 5%;
        font-size: 80px;
    }

    #section2 h4 {
        font-size: 45px;
    }
    #section2 p {
        font-size: 20px;
        line-height: 40px;

    }
    .arrow2 i {
        margin-top: 10%;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
        margin-left: -40%;
        // padding-left: 1.5rem;
    }
    li.timeline-item {
       width: 80vw;

    }
    ul.timeline:before {
        left: 16px;
        min-height: 100%;
    }
    #section3 {
        min-height: 100vh;
    }
    #section3 h1 {
        font-size: 70px;
        margin-top: 5%;
    }
    #section3 h4 {
        font-size: 40px;
        margin-top: 5%;
    }
    #section3 span {
        font-size: 32px;

    }
    #section3 img {
        height: 15%;
        position: relative;
        margin-top: 80%;
        margin: 0 auto;
        // top: 0px;
        // right: 0px;
        // left: 0px;
        text-align: center;

    }
    #section3 button {
        margin: 0 auto;
        text-align: center;

    }
    .arrow3 i {
        margin-top: 20%;
    }
    
    #timeline img {
        width: 8%;
        float: left;
    }
    #section4 {
        padding-bottom: 0px !important;
        min-height: 100vh;
        padding-top: 2% !important;
    }
    #section4 h1 {
        margin-top: 20%;
        font-size: 68px;
    }
    
    #section4 h4 {
        font-size: 30px;

    }
    .sec4-img {
        width: 90%;
        left: 0px;
        right: 40px;
        margin-right: 20%;
    }
    .sec4-svg {
        width: 90% !important;
        margin-bottom: 0px;
        margin-top: 5% !important;
        bottom: 0;
        right:0;
        left: 0;
        z-index: 1;
    }
    .arrow4 i {
        color: white !important;
        border-width: 0 3px 3px 0;
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        z-index: 500;
        margin-top: 0% !important;
    }
    #transmission {
        display: inline-block;
    }
    #safe {
        
        display: inline-block;
      
    }
    #hows button {
        display: block;
        clear: both;
    }
    #hows h3 {
        font-size: 70px;
    }
    #hows p {
        font-size: 20px;
    }
    #hows ul li {
        font-size: 20px;
        
    }
    #transmission p {
        line-height: 25px;
    }

    #transmission .emoji-head {
        width: 3%;
    }
    
    #safe .emoji-head {
        width: 3%;
    }
    #transmission li {
        list-style-type: circle !important;
    }
    #hows a:hover {
        text-decoration: none;
    }
    #endstigma {
        max-height: 100vh;
    }
    #endstigma {
        overflow: hidden;
    }
    #endstigma img{
        width: 50% !important;
        height: 10% !important;
        margin-top: -10%;
        bottom: 0px;
        margin-left: -5%;

    }
    #endstigma h1 {
        font-size: 70px;
        margin-top: 5%;
    }
    #testimonials {
        padding-bottom: 0%;
    }
 
    #testimonials h1 {
        font-size: 60px;
        color: white;
    }
    .testimonials-svg{
        width: 100% !important; 
    }
    .testimonials2-svg {
        height: 280% !important; 
        left: -10% !important;
    }
    #aboutUs h1 {
        margin-top: 5%;
    }
    #aboutUs h6 {
        font-size: 20px;
    }
    #faq {
        padding-top: 0px;
        float: none;
        min-height: 100vh !important;
    }
    #faq h1 {
        font-size: 80px;
        color: white;
        text-align: left;
        // margin: 0 auto;
    }
    #faq h4 {
        font-size: 45px;
        text-align: left;
        // margin: 0 auto;
    }
    #faq p {
        font-size: 20px;
        text-align: left;
        // margin: 0 auto;
    }
    #faq img{
        width: 150% !important;
        position: absolute;
        right: -5%;
    }
    .text-2 {
        margin-top: 40% !important;
    }
    .text-3 {
        margin-top: 50% !important;
    }
    .faq-bubble-2, .faq-bubble-1 {
        float: none;
    }
    #submit_form {
        margin-top: 0%;
        padding-bottom: 0%;
    }
    #submit_form h1{
        font-size: 70px;
    } 
    #submit_form label{
        font-size: 20px;
    }
    #submit_form img {
        width: 130% !important;
        margin-left: -20% !important;
    }
    #submit_form form {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        display: block;
    }
    #aboutUs h1 {
        font-size: 80px;
    }
    #aboutUs h6 {
        font-size: 40px;
      
    }
    #aboutUs p {
        font-size: 25px;
        line-height: 45px !important;
      
    }
    #aboutUs .eggp {
        width: 90% !important;
        margin-right: -10%;
        margin-top: -10%;
    }
    #aboutUs .citrusg {
        width: 110%;
        
    
    }
    #merch h1{
        font-size: 80px;
        text-align: left;
    }

    .merch1, .merch2, .merch3, .merch4, .merch5, .merch6, .merch7, .merch8 {
        width: 15%;
    }
    .merch1, .merch2, .merch3, .merch4 {
        margin-right: 5% !important;
    }
    .merch5, .merch6, .merch7, .merch8 {
        margin-left: 5% !important;
    }
    #merch .banana {
        width: 200% !important;
        margin-top: -20% !important;
        margin-right: -10% !important;

        float: right;
    }
    .clothing {
        width: 20%;
        margin-right: 3%;
    }
    .accessory {
        width: 30%;
        margin-right: 3%;

    }


    footer img {
        width: 20%;
    }
    html {
        background-color: #2a2a2a ;
    
    }
    .nav-back i {
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        margin-top: 5px;
    
      }
    
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    
    .nav-back {
        background-color: #2a2a2a;
    }
    
    .nav-back span {
        color: white;
    }
    
    .form-bg {
        background-color: #2a2a2a;
        
    }
    
    .form-bg form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 70%;
    }
    
    form h6 {
        color: #2a2a2a;
    }
    
    .form img {
        margin-top: -90%;
        width: 30%;
    }
    
    .login-title {
        margin-top: -30%;
        color: white;
    }
    
    .cred {
        margin-top: 40px;
    }
    
    #username {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/user.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    #password {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/lock.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    .form button {
        text-align: center;
        background-color: #2a2a2a !important;
        width: 50%;
    
    }
    
    .form button {
        color: white;
    }
    
    .form button:hover {
        color: #d80000;
    
    }
    
    .form a {
        color: #1F86D0 !important;
        font-size: 12px;
        cursor: pointer;
    }
    
    .nav-back a {
        cursor: pointer;
    }
    footer h1 {
        font-size: 80px;
    }
    .kiss-img img {
        margin-top: 0% !important;
        width: 130% !important;
        text-align: center;
        margin: 0 auto;
    }
}
