b {
    font-weight: bold;
}
#section3 {
    padding-top: 5%;
    background: url('/FIP-2020/images/sect3-bg.png') !important;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100vh;
    padding-bottom: 5%;
    overflow: hidden !important;
}

#section3 img {
    height: 8%;
    position: relative;
    margin-top: 35%;
}

#section3 h1 {
    font-size: 60px;
    color: black;
}

#section3 p, h6 {
    color: white;
    font-family: 'Open Sans', sans-serif;

}

#section3 span {
   color: white; 
   font-size: 40px;
}
.btn-sec3 {
    background-color: black !important;
    color: white !important;
}

.btn-sec3:hover {
    background-color: white !important;
    color: black !important;
}

.arrow3 i {
    color: black !important;
    border-width: 0 3px 3px 0;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    z-index: 500;
    margin-top: 10%;
}