#section2 {
    background-color: #e87a42; //try
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    overflow: hidden;
}
#section2 img {
        margin-top: -30%;
        height: 40% !important;
        margin-left: -5% !important;
}

#section2 h1 {
    color: white;
    font-size: 60px;
    margin-top: 10% !important;
}

#section2 h6 {
    color: #2a2a2a;
    font-family: 'Open Sans', sans-serif;
}

#section2 p {
    color: #2a2a2a;
    font-size: 32px;
}

.arrow2 {
    bottom: 0;
    margin-top: 0% !important;
    margin-left: 50%;
}

.arrow2 i {
    border: solid #D80000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position : absolute;
    z-index: 100 !important;
}

