#section4 {
    background-color: white; //try
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 20px;
    position: relative;
}

#section4 h1 {
    color: #D80000;
    font-size: 60px;
}

#section4 h4 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;

}

#section4 p {
    color: #2a2a2a;
    font-size: 16px;
}

#section4 span {
    color: #D80000;

}
