#section3 {
    margin-top: 0px;
    background-color: #2a2a2a;
    min-height: 50vh;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}


#section3 h1 {
    font-size: 60px;
    color: white;
}

#section3 p, h6 {
    font-size: 32px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

#section3 span {
   color: #d80000; 
   font-size: 32px;
}