#section4 {
    background-color: #4bc9f5; //try
    min-height: 100vh;
    position: relative;
}
// .first {
//     margin-bottom: 20px;
// }

#section4 h1 {
    color: white;
    font-size: 60px;
    margin-top: 20%;
}

#section4 h4 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;

}

#section4 p {
    color: #2a2a2a;
    font-size: 16px;
}

#section4 span {
    color: white;

}

.sec4-img {
    width: 50%;
    margin-right: 20%;
}

.sec4-svg {
    margin-bottom: 0px;
    margin-top: 60% !important;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.arrow4 i {
    color: white !important;
    border-width: 0 3px 3px 0;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    z-index: 500;
    margin-top: 20% !important;
}
