#section2 {
    background-color: #e87a42; //try
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    overflow: hidden;
}
#section2 img {
        margin-top: -30%;
        height: 40% !important;
        margin: 0 auto;
}

#section2 h1 {
    color: white;
    font-size: 60px;
}

#section2 h4 {
    font-weight: bold;
}

#section2 p {
    color: #2a2a2a;

}

// #section button {

// }

.arrow2 i {
    color: white !important;
    border-width: 0 3px 3px 0;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    z-index: 500;
    margin-bottom: 20%;
}