#section2 {
    background: #E87A42; //try
    min-height: 100vh;
    padding-top: 12%;
    padding-bottom: 5%;
    position: relative;
}

#section2 h1 {
    color: #D80000;
    font-size: 60px;
}

#section2 h6 {
    color: #2a2a2a;
    font-family: 'Open Sans', sans-serif;
}

#section2 p {
    color: #2a2a2a;
    font-size: 32px;
}
