#submit_form {
    background-color:#2DE986;
    min-height: 100vh;
    padding-top: 15%;
    padding-bottom: 5%;
    position: relative;
    overflow: hidden;
    color: white !important;

}

.submit_header h1 h6{
    color: white !important;
    z-index: 500;
}

#submit_form img{
    width: 100% !important;
    text-align: center;
}

#submit_form h1 {
    font-size: 30px;
}

.submit_header img {
    position: absolute;
    width: 120% !important;
    top: -5%;
    right: -25%;
    opacity: .2;
    z-index: 1;
}

#submit_form form {
    padding: 5% ;
    margin-top: 10% !important;
}

#submit_form label {
    color: #2a2a2a;
    text-align: left !important;
}

#submit_form input{
    border-radius: 10px;

}

#submit_form textarea{
    border-radius: 10px !important;
}

#submit_form textarea:focus, #submit_form input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;

}